:root {
    font-size: 62.5%;
}

/* ------ General Styles ------ */

body {
    width: 100vw;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 150%;
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #5a0808;
}

h1 {
    font-size: 4rem;
}

h2 {
    padding-bottom: 2.5rem;
    font-size: 3.5rem;
}

h3 {
    font-size: 2.2rem;
    padding-bottom: 1.5rem;
}

h4 {
    padding-bottom: .5rem;
    font-size: 1.6rem;
    color: #300303;
}

section {
    width: 100vw;
    min-height: 100vh;
    padding: 6rem 0;
}

section:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

.section-text {
    padding-bottom: 4rem;
}

.container {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
}

.bold {
    font-weight: bold;
}

.bullet {
    color: #dd1414d0;
}

a, a:visited {
    color: initial;
    text-decoration: none;
}

/*-*-*-*-*-*-*-* MOBILE FIRST *-*-*-*-*-*-*-*/

/**** Toggle Button ****/

#toggleInput {
    display: none;
    position: relative;
    cursor: pointer;
}

.toggleButton {
    width: 40px;
    height: 40px;
    padding: 2.5rem;

    background-color: #dd1414d0;
    
    display: flex;
    justify-content: center;
    align-content: center;

    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;

    border-radius: 50%;
    cursor: pointer;
}

.toggleButton > img {
    filter: brightness(100%) opacity(1) invert(100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggleButton > img:last-child {
    opacity: 0;
}



    /**** ToggleButton(checked) ****/

#toggleInput:checked ~ header {
    left: 0;
    transition: left 0.15s ease-in-out;
}

#toggleInput:checked ~ .toggleButton > img:last-child {
    opacity: 1;
}

#toggleInput:checked ~ .toggleButton > img:first-child {
    opacity: 0;
}


/* ------ Header Styles ------ */

header {
    width: 300px;
    /* height: 100vh; */
    padding: 2rem;

    background-color: #140404;
    color: white;

    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    z-index: 10;

    transition: all 0.4s ease-in-out;
    transition-delay: 0.1s;

    overflow-y: auto;
}

    /**** Profile section ****/

#profile {
    text-align: center;
    margin: 2rem auto;
}

#profile > img {
    width: 160px;
    height: 160px;
    margin: auto;
    object-position: center top;
    object-fit: cover;
    display: block;
    /* clip-path: circle(30% at 55% 30%); */
    /* margin-left: -10px; */
    border: 10px double #505050;
    cursor: pointer;
    transition: all 1s;
    filter: grayscale(100%);
}

#profile p {
    width: 100%;
    margin: 1rem auto;
    font-size: 3rem;
    font-weight: bold;
}

#profile > img:hover {
    transform: rotateY(180deg);
    border-color: #dd1414d0;
    filter: grayscale(0%);
}

.accounts img {
    width: 36px;
    margin: 0 1rem;
    filter: invert(50%);
    cursor: pointer;
}

.accounts img:hover {
    filter: invert(14%) sepia(60%) saturate(7448%) hue-rotate(358deg) brightness(91%) contrast(89%) opacity(0.8);
}

    /**** Side Navbar section ****/

#navbar {
    margin-top: 3rem;
}

#navbar ul {
    padding-left: 0;
}

.nav-item {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.nav-menu a {
    display: flex;
    align-items: center;
}

.nav-item img {
    width: 23px;
    height: 23px;
    margin-right: 1.2rem;
    filter: invert(.5);
}

.nav-item a {
    color: #bbb;
}

.nav-item:hover {
    transform: scale(1.2);
}

.nav-item:hover img {
    filter: invert(14%) sepia(60%) saturate(7448%) hue-rotate(358deg) brightness(91%) contrast(89%) opacity(0.8);
}

.nav-item:hover span {
    color: white;
}


/* ---------END HEADER--------- */

/**** Hero Section ****/

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) ), center / cover no-repeat url(./assets/background.jpg);
    
    background-attachment: fixed;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.hero-text {
    width: fit-content;
    padding: 1.5rem;
    
    position: relative;
    top: 35%;
    left: 10%;
    letter-spacing: 1px;
}

.hero h2 {
    display: flex;
    font-size: 4rem;
    font-weight: normal;
}

h1,
.hero h2 {
    text-shadow: 0px 0px 2px black;
    line-height: normal;
    color: #fff;
}

.hero h2 > span:first-child {
    margin-right: .8rem;
}

.text-1 {
    animation: text1;
}
.text-2 {
    animation: text2;
}

.text-1,
.text-2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(10, end);
    animation-iteration-count: infinite;
}
.text-1::after,
.text-2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: .8s;
    animation-timing-function: steps(1, end);
}

@keyframes text2 {

    0%,
    50%,
    100% {
      width: 0;
      
    }
    60%,
    90% {
      width: 5.5em;
      border-bottom: 2px solid #dd1414d0;
    }
}

@keyframes text1 {

    0%,
    50%,
    100% {
      width: 0;
    }

    10%,
    40% {
      width: 5.3em;
      border-bottom: 2px solid #dd1414d0;
    }
}

@keyframes caret {

    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

/* ----- MAIN Styles ------ */

/**** About Section ****/

.my-details {
    padding-bottom: 2rem;
}

.detail {
    padding: 0.5rem 0;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.image-wrap {
    max-width: 100%;
    padding-bottom: 2rem;
}

.image-wrap img {
    max-width: 100%;
    height: auto;
    /* filter: grayscale(100%); */
}


/**** Skills Section ****/

.skills-content, .row-skills {
    display: flex;
    flex-direction: column;
}

.skill {
    padding: 1.5rem 0;
    text-transform: uppercase;
}

.skill h4 {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.skill h4 > span {
    transition-delay: 1s;
}

.progress-bar-wrapper {
    width: 100%;
    height: 2rem;
    background-color: #ddd;
    border-radius: 5px;
}

.progress-bar {
    /* width: 80%; */
    height: 100%;
    background: #dd1414d0;
    border-radius: 5px;
    
    position: relative;
    animation: progressBar 3s forwards;
}

.progress-bar::after {
    content: "";
    /* width: 100%; */
    /* height: 100%; */
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    animation: loading .6s linear infinite;
}

@keyframes progressBar {
    from {
        width: 0%;
    }
}

@keyframes loading {
    from {
        background-position: 0;
    }

    to {
        background-position: 50px;
    }
}

.html {
    width: 80%;
}

.css {
    width: 75%;
}

.bootstrap {
    width: 50%;
}

.javascript {
    width: 35%;
}

.python {
    width: 55%;
}

.sql {
    width: 60%;
}

.languages-skills {
    padding: 3rem 0;
    padding-bottom: 0;
}

.language {
    padding: 1rem;
}

/**** Projects Section ****/

.projects-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, minmax(200px, 1fr));
    gap: 2rem;
}

.projects-content a {
    position: relative;
}

.project {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    transition: all .5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

/* .project a > img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    opacity: 0.4;
    overflow: hidden;
    transition: all .8s ease-in-out;
} */

.project ~ h4 {
    font-size: 110%;
    opacity: 0.8;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
    text-shadow: 0 0 3px white, 0 0 5px rgb(78, 78, 78), 0 0 8px white;
}

.project::after {
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0.4;
    transition: all .5s ease-in-out;
}

/* .project a {
    width: 100%;
    height: 100%;
} */

.speaker::after {
    background: bottom / cover no-repeat url(./assets/speaker.png);
}

.flexblog::after {
    background: center / cover no-repeat url(./assets/Flexblog.png);
}

.apple::after {
    background: center / cover no-repeat url(./assets/apple.png);
}

.periodic-table::after {
    background: center / cover no-repeat url(./assets/periodic-table.png);
}

.pichanga::after {
    background: top / cover no-repeat url(./assets/pichanga.png);
}

.pinkFloyd::after {
    background: center / cover no-repeat url(./assets/pinkFloyd.png);
}

.matcha::after {
    background: center / cover no-repeat url(./assets/matcha.png);
}

.runners::after {
    background: center / cover no-repeat url(./assets/runners.png);
}

.project:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
}

.project:hover::after {
    opacity: 1;
    transform: scale(1.2);
}

/* .project:hover img {
    transform: scale(1.3);
    opacity: 1;
} */

/**** Contacts Section ****/

.contact-content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-wrap {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.data-wrap > div:first-child {
    padding-bottom: 1rem;
}

.data-wrap i {
    background-color: #dd1414d0;
    color: white;
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.data-wrap div span {
    font-weight: bold;
}

.contact-img {
    display: none;
}

form {
    width: 100%;
    padding-top: 4rem;
}

.input-wrapper {
    padding: 1rem 0;
}

.input-wrapper input {
    line-height: 200%;
}

label, input, textarea {
    width: 100%;
    border: none;
    outline: none;
}

input, textarea {
    background-color: transparent;
    border-bottom: 2px solid #dd1414d0;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border: 2px solid #dd1414d0;
}

button {
    width: 110px;
    padding: 1rem;
    margin-top: 2rem;

    background-color: #dd1414d0;
    color: white;
    text-shadow: 0 0 1px black;
    
    letter-spacing: 1px;    
    font-weight: bold;

    outline: none;
    border: none;
    border-radius: 5px;

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 15px rgba(40, 40, 40, 0.6);
    
    float: right;
    transition: all 1s;
}

button i {
    margin-left: 5px;
}

button:hover {
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}

button:active {
    box-shadow: 0 0 30px black;
}

/* ---------END MAIN--------- */

/* ------ FOOTER Styles ------ */

footer {
    padding: 2rem;

    background-color: #140404;
    color: white;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    font-weight: bold;
}

/* ------ BACK to TOP BUTTON ------ */

.back-top {
    background-color: #dd1414d0;
    width: 40px;
    height: 40px;
    padding: 2.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 2;
}

.back-top img {
    filter: brightness(0) invert(1);
}




/* ------ Media queries ------ */

@media (min-width: 768px) {

    /* HERO SECTION */
    .hero-text {
        left: 20%;
    }

    /* ABOUT SECTION */
    .about-content {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
        gap: 2rem;
    }

    .image-wrap {
        overflow-x: visible;
    }

    /* PROJECTS SECTION */
    .projects-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, minmax(200px, 1fr));
        grid-template-areas: 
        "one two"
        "one three"
        "four three"
        "four three"
        "five five"
        "six seven"
        "eight eight";
    }

    .speaker {
        grid-area: one;
    }
    
    .flexblog {
        grid-area: two;
    }
    
    .apple {
        grid-area: three;
    }
    
    .periodic-table {
        grid-area: four;
    }
    
    .pichanga {
       grid-area: five;
    }
    
    .pinkFloyd {
        grid-area: six;
    }
    
    .matcha {
        grid-area: seven;
    }
    
    .runners {
        grid-area: eight;
    }

    /* CONTACT SECTION */
    .data-wrap {
        width: 100%;
        justify-content: space-evenly;
    }

    .data-wrap > div:first-child {
        padding-bottom: 0;
    }

    form {
        width: 80%;
    }
}

@media (min-width: 992px) {

    /* GENERAL STYLES */
    section {
        padding-top: 4rem;
    }

    /* HERO SECTION */
    .hero-text {
        left: 25%;
    }

    /* SKILLS SECTION */
    .skills-content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .languages-skills {
        padding-top: 4rem;
    }

    /* PROJECTS SECTION */

    .projects-content {
        grid-template-columns: 0.8fr 0.4fr 0.8fr;
        grid-template-rows: repeat(6, minmax(200px, 1fr));
        grid-template-areas: 
        "two one one"
        "two eight three"
        "seven four four"
        "seven five five"
        "seven five five"
        "six six six";
    }

    .speaker {
        grid-area: two;
    }
    .flexblog {
        grid-area: three;
    }
    .apple {
        grid-area: one;
    }
    .periodic-table {
        grid-area: six;
    }
    .pichanga {
        grid-area: five;
    }
    .pinkFloyd {
        grid-area: eight;
    }
    .matcha {
        grid-area: seven;
    }
    .runners {
        grid-area: four;
    }


    /* CONTACT SECTION */
    .contact-content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
        grid-template-areas: 
        "data data"
        "img form";
        gap: 2rem;
    }
    
    .data-wrap {
        grid-area: data;
        padding-bottom: 2rem;
    }

    form {
        grid-area: form;
        width: 80%;
        margin: 0 auto;
        padding-top: 0;
    }

    .contact-img {
        grid-area: img;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-img img {
        max-width: 100%;
        height: auto;
        filter: sepia(100%) saturate(800%) brightness(75%) hue-rotate(305deg);
    }
}


@media (min-width: 1200px) {

    /* GENERAL STYLES */
    section {
        height: auto;
        padding-left: 300px;
    }

    .toggleButton {
        visibility: hidden;
        opacity: 0;
    }

    /* --- HEADER --- */
    header {
        left: 0;
    }

    #navbar {
        margin-top: 5rem;
    }
    
    /* SKILLS SECTION */

    .languages-skills {
        padding-top: 5rem;
    }


    /* --- FOOTER --- */
    footer {
        width: 300px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

}