:root {
    font-size: 62.5%;
}

/* ------ General Styles ------ */

body {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 130%;
    overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6, nav {
    font-family: 'Raleway', sans-serif;
}

/*-*-*-*-*-*-*-* MOBILE FIRST *-*-*-*-*-*-*-*/

/* ------ Header Styles ------ */

header {
    width: 300px;
    height: 100vh;
    padding: 2rem;

    background-color: black;
    color: white;

    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    z-index: 5;

    transition: all 0.4s ease-in-out;
    transition-delay: 0.1s;
}

    /**** Profile section ****/

#profile {
    text-align: center;
    margin: 2rem auto;
}

#profile > img {
    width: 160px;
    height: 160px;
    margin: auto;
    object-position: center top;
    object-fit: cover;
    display: block;
    /* clip-path: circle(30% at 55% 30%); */
    /* margin-left: -10px; */
    border: 10px double #505050;
    cursor: pointer;
    transition: all 1s;
}

#profile p {
    margin: 1rem auto;
}

#profile > img:hover {
    transform: rotateY(180deg);
    border
}


.accounts img {
    width: 36px;
    margin: 0 1rem;
    filter: invert(40%);
    cursor: pointer;
}

.accounts img:hover {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

    /**** Side Navbar section ****/

#navbar {
    margin-top: 4rem;
}

#navbar ul {
    padding-left: 0;
}

.nav-item {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.nav-menu a {
    display: flex;
    align-items: center;
}

.nav-item img {
    width: 23px;
    height: 23px;
    margin-right: 1.2rem;
    filter: invert(.5);
}

.nav-item a {
    color: #bbb;
}

.nav-item:hover {
    transform: scale(1.2);
}

.nav-item:hover img {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.nav-item:hover a {
    color: white;
}


/* ---------END HEADER--------- */

/**** Toggle Button ****/

#toggleInput {
    display: none;
    position: relative;
    cursor: pointer;
}

.toggleButton {
    width: 40px;
    height: 40px;
    padding: 2.5rem;

    background-color: #149dddbb;
    
    display: flex;
    justify-content: center;
    align-content: center;

    position: fixed;
    top: 3%;
    right: 2%;

    border-radius: 50%;
    cursor: pointer;
}

.toggleButton > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggleButton > img:last-child {
    opacity: 0;
}



    /**** ToggleButton(checked) ****/

#toggleInput:checked ~ header {
    left: 0;
    transition: left 0.15s ease-in-out;
}

#toggleInput:checked ~ .toggleButton > img:last-child {
    opacity: 1;
}

#toggleInput:checked ~ .toggleButton > img:first-child {
    opacity: 0;
}


/* color: #149ddd; */



/* ----- MAIN Styles ------ */


/**** Hero Section ****/

.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) ), center / cover no-repeat url(./assets/background.jpg);
    color: #fff;
}

/* .hero-text {
    width: fit-content;
    padding: 1.5rem;
    position: relative;
    top: 35%;
    left: 23%;
    letter-spacing: 1px;
}

h1 {
    font-size: 3.3rem;
    margin-bottom: 0;
}
.wrapper p,
.wrapper span {
    font-size: 3.3rem;
}

h1,
.wrapper p,
.wrapper li {
    text-shadow: 1px 1px black;
    line-height: normal;
}


.wrapper .dynamic-texts {
    padding-left: 1rem;
    margin-left: -15px;
    height: 90px;
    overflow: hidden;
}

.dynamic-texts li {
    list-style: none;
    
}

.dynamic-texts li span {
    position: relative;
    border-bottom: 3px solid #149ddd;
}

.dynamic-texts li span::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: ;
    border-left: 2px solid white;
    
    position: absolute;
    left: 0;

    animation: typing 1.5s steps(10) infinite;
} */


/**** About Section ****/

#about {
    height: 100vh;
    width: 100vw;
}

/**** Skills Section ****/

#skills {
    height: 100vh;
    width: 100vw;
}

/**** Projects Section ****/

#projects {
    height: 100vh;
    width: 100vw;
}

/**** Contacts Section ****/

#contact {
    height: 100vh;
    width: 100vw;
}


/* ---------END MAIN--------- */



/* ------ FOOTER Styles ------ */

footer {
    padding: 2rem;

    background-color: black;
    color: white;

    text-align: center;
}

footer span {
    font-weight: bold;
}

/***** KEYFRAMES *****/





/* ------ Media queries ------ */